.character__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.character__card {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	height: auto;
	padding: 30px 20px;
	background: tomato;
	border-radius: 5px;
}
.character__section {
	display: flex;
	flex-direction: column;
}

.character-name {
	display: inline-block;
	width: max-content;
	font-size: 21px;
	font-weight: 700;
}

.character-image {
	margin: 20px 0 10px;
}

.character-text {
	display: inline-block;
	width: 100%;
}
