@import url("../../../node_modules/normalize.css/normalize.css");

@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	src: url("../fonts/open-sans-v29-latin_cyrillic-regular.woff") format("woff"),
		url("../fonts/open-sans-v29-latin_cyrillic-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Open Sans";
	font-weight: 700;
	src: url("../fonts/open-sans-v29-latin_cyrillic-700.woff") format("woff"),
		url("../fonts/open-sans-v29-latin_cyrillic-700.woff2") format("woff2");
}

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

body {
	font-family: "Open Sans" sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #f7fb00;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

ul {
	padding: 0;
	list-style-type: none;
}

p {
	margin: 0;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 20px;
}

@import "header";
@import "card";
